
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* body{
    padding-top: 5rem !important;
} */
/* hamburger menu starts here */
.navbar-toggler {
    border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #FCBD01;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    /* background-color: #777777; */
    background-color: #FCBD01;

}
/* hamburger menu ends here */
.headerContainer{
    padding-top: 1rem;
    background-color: #fff;
}
.navbar-brand p{
    color: black !important;
    font-weight: 800;
    font-family: 'Ubuntu' , sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
}
.navbar-brand span{
    color: #FCBD01 !important;
    font-weight: 800;
    font-family: 'Ubuntu' , sans-serif;
}
.logo{
    display: none !important;
    font-family: 'Ubuntu' , sans-serif;

}
.navbarBrandDiv{
    padding-right: 14rem;
    display: flex;
    align-items: center;
}
.navbar-nav{
    line-height: 1.2;
}
.nav-item{
    margin: 0 .5rem;
}
.nav-link{
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.nav-link:hover{
    color : #FCBD01 !important;
    font-weight: 600;
}
.nav-link.active{
    color : #FCBD01 !important;
    font-weight: 600;
}
.navbar-nav .nav-item:last-child .nav-link{
    color : #FCBD01 !important;
    border-radius: 10px;
    border: 1px solid #FCBD01;
    padding: .5rem 1rem !important;
    font-weight: 600;

}
.navbar-toggler{
    border: none !important;
    
}
.navbar-toggler:focus{
   box-shadow: none !important;
    
}
.navbar-toggler-icon{
    background-image: url('../../Assets/bars-solid.svg') !important;
    background-size: 70%;
 
}
.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon{
    background-image: url('../../Assets//x-solid.svg') !important;
    background-size: 70%;
}
/* Mobile Phones (Portrait) */
@media only screen and (max-width: 480px) {
    .logo{
        display: block !important;
    }
    .navbar-brand p {
        font-size: 1.5rem;

    }
    .navbar>.container{
        justify-content: space-between !important;
    }
    .navbarBrandDiv{
        display: none;
    }

    /* .headerContainer{ */
        /* display: block !important; */
        /* background-color: rgba(179, 162, 162, 0.1) !important;
       backdrop-filter: blur(10px) !important; */
    /* } */
    .headerContainer .navbar-nav{
        background-color: #FFBC40;
        border-radius: 30px;
    }
    .headerContainer .navbar-nav .nav-item .nav-link{
        color: #fff;
        padding: .5rem 1rem !important;

    }
    .navbar-nav .nav-item:last-child .nav-link{
        color : #fff!important;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: .5rem 1rem !important;
        font-weight: 600;
        margin-bottom: 1rem;
        /* text-align: center; */
    }
    .headerContainer .navbar-nav .nav-item .nav-link:hover{
        color : black !important;
    }
    .headerContainer .navbar-nav .nav-item .nav-link.active{
        color : black !important;
        
    }
  }
  
  /* Mobile Phones (Landscape) */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    /* .headerContainer{
        display: block !important;
        background-color: rgba(179, 162, 162, 0.1) !important;
       backdrop-filter: blur(10px) !important;
    
    } */
    .logo{
        display: block !important;
    }
    .navbar-brand p {
        font-size: 1.3rem;
    }
    .navbar>.container{
        justify-content: space-between !important;
    }
    .navbarBrandDiv{
        display: none;
    }
    .headerContainer .navbar-nav{
        background-color: #FFBC40;
        border-radius: 30px;
    }
    .headerContainer .navbar-nav .nav-item .nav-link{
        color: #fff;
        padding: .5rem 1rem !important;

    }
    .navbar-nav .nav-item:last-child .nav-link{
        color : #fff!important;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: .5rem 1rem !important;
        font-weight: 600;
        margin-bottom: 1rem;
        /* text-align: center; */
    }
    .headerContainer .navbar-nav .nav-item .nav-link:hover{
        color : black !important;
    }
    .headerContainer .navbar-nav .nav-item .nav-link.active{
        color : black !important;
        
    }
  }
  
  /* Tablets (Portrait) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* .headerContainer{
        display: block !important;
        background-color: rgba(179, 162, 162, 0.1) !important;
       backdrop-filter: blur(10px) !important;
    
    } */
    .logo{
        display: block !important;
    }
    .navbar-brand p {
        font-size: 1.3rem;
    }
    .navbar>.container{
        justify-content: space-between !important;
    }
    .navbarBrandDiv{
        display: none;
    }
    .headerContainer .navbar-nav{
        background-color: #FFBC40;
        border-radius: 30px;
    }
    .headerContainer .navbar-nav .nav-item .nav-link{
        color: #fff;
        padding: .5rem 1rem !important;

    }
    .navbar-nav .nav-item:last-child .nav-link{
        color : #fff!important;
        border-radius: 10px;
        border: 1px solid #fff;
        padding: .5rem 1rem !important;
        font-weight: 600;
        margin-bottom: 1rem;
        /* text-align: center; */
    }
    .headerContainer .navbar-nav .nav-item .nav-link:hover{
        color : black !important;
    }
    .headerContainer .navbar-nav .nav-item .nav-link.active{
        color : black !important;
        
    }
  }
  
  /* Tablets (Landscape) */
  @media only screen and (min-width: 992px) and (max-width: 1023px) {
    .logo{
        display: block !important;
    }
    .navbar-brand p {
        font-size: 1.3rem;
    }
    .navbarBrandDiv{
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
       
        justify-content: flex-end !important;
    }
  }
  
  /* Small Laptops and Desktops */
  @media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .logo{
        display: block !important;
    }
    .navbar-brand p {
        font-size: 1.5rem;
    }
    .navbarBrandDiv{
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end !important;
    }
  }
  /* Large Desktops and TVs */
  @media only screen and (min-width: 1960px) {
    .navbar-brand p {
        font-size: 2.5rem;
    }
    .nav-link{
        font-size: 1.5rem;
    }
  }
  